*,
*::after,
*::before{
    /* padding: 0; */
    margin: 0;
    /* box-sizing: inherit; */
}

:root{
    --blue: #2868d5;
    --blue-dark: #253662;
    --blue-dark-1: #0d47a1;
    --green: #7cba4b;
    --green-dark-2: #33BE89;
    --green-dark: #689f38;
    --dark-grey: #444349;
    --white: #fff;
    --black: #000;
    --purple: #53627c;
    --box-shadow: 0 2rem 3rem 0 rgba(0,0,0,0.3);
}

html {
    font-size: 62.5%;
    
}

body{
    font-family: 'Saira', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    background-image: url('images/hdr_bg_dots.png');
    color: #667291;
    overflow-x: hidden;
    z-index: -3;
}

.row{
    display: flex;
    margin-bottom: 4rem;
}

.row-full{
    display: flex;
    margin-bottom: 4rem;
    width: 100%;
    justify-content: center;
}

.col-1-of-2{
    flex: 0 0 50%;
}

.col-1-of-2:not(:last-child){
    margin-right: 6rem;
}

.col-1-of-3{
    flex: 0 0 30%;
}

.col-1-of-3:not(:last-child){
    margin-right: 6rem;
}

.col-2-of-3{
    flex: 0 0 60%;
}

.col-2-of-3:not(:last-child){
    margin-right: 6rem;
}

.col-1-of-4{
    flex: 0 0 25%;
}

.col-2-of-4{
    flex: 0 0 50%;
}

.col-3-of-4{
    flex: 0 0 75%;
}

.mb-sm, div.mb-sm, p.mb-sm, span.mb-sm, h3.mb-sm{
    margin-bottom: 2rem;
}

.mb-md, div.mb-md, p.mb-md, span.mb-md, h3.mb-md{
    margin-bottom: 8rem;
}

.mb-lg, div.mb-lg, p.mb-lg, span.mb-lg, h3.mb-lg{
    margin-bottom: 24rem;
}

.mr-sm, div.mr-sm, p.mr-sm, span.mr-sm, h3.mr-sm{
    margin-right: 2rem;
}

.mr-md, div.mr-md, p.mr-md, span.mr-md, h3.mr-md{
    margin-right: 8rem;
}

.mr-lg, div.mr-lg, p.mr-lg, span.mr-lg, h3.mr-lg{
    margin-right: 24rem;
}

.ml-sm, div.ml-sm, p.ml-sm, span.ml-sm, h3.ml-sm{
    margin-left: 2rem;
}

.ml-md, div.ml-md, p.ml-md, span.ml-md, h3.ml-md{
    margin-left: 8rem;
}

.ml-lg, div.ml-lg, p.ml-lg, span.ml-lg, h3.ml-lg{
    margin-left: 24rem;
}

.container{
    width: inherit;
    padding: 0 40%;
    display: flex;
    justify-content: center;
}

.container-full{
    width: inherit;
    padding: 0 10%;
    display: flex;
    justify-content: center;
}

#header{
    background-color: var(--white);
    position: relative;
}

.menu__toggle{
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0, -50%);
    width: 9rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.menu__image--close{
    display: none;
}

.menu__toggle{
    display: none;
}

.navbar{
    display: flex;
    padding: 1.7rem 17.8rem 1rem 19rem;
    justify-content: space-between;
    
}

.collapse{
    display: block;
    z-index: 5;
}

.navbar__logo{
    height: 5.2rem;
    display: block;
}

.navbar__logo--lg{
    display: none;
    align-self: center;
}

.navbar__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex: 1;
    justify-content: flex-end;
    
}

.navbar__drop:hover .dropdown{
    display: block;
}

.block{
    display: block !important;
}


.none{
    display: none !important;
}

.dropdown{
    display: none;
    position: absolute;
    top: 70%;
    left: 35%;
}

.navbar__dropdown--container{
    display: flex;
    background-color: var(--white);
}

.navbar__dropdown{
    list-style: none;
    margin-right: 2rem;

}

.navbar__dropdown--item{
    padding: 2rem 4rem;
}


.navbar__dropdown--link{
    text-decoration: none;
    color: var(--purple);
    font-weight: 700;
    font-size: 1.6rem;
}

.navbar__dropdown--link:hover{
    color: var(--blue);
}

.navbar__dropdown--title{
    color: #8A94A6;
    font-size: 1.6rem;
}
 
.navbar__dropdown--footer{
    background-color: var(--blue);
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

.navbar__dropdown--icons{
    width: 1.5rem;
    height: 1.5rem;
}

.navbar__dropdown--icons:not(:last-child){
    margin-right: 1rem;
}

.navbar__dropdown--footer a{
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 700;
}

.navbar__item{
    display: flex;
    height: 100%;
    align-items: center;
}

.navbar__item:not(:last-child){
    margin-right: 6rem;
}

.navbar__link{
    font-size: 1.6rem;
    font-weight: 900;
    text-decoration: none;
    font-family: sans-serif;
    color: #667291;
    display:inline-block;
    text-transform: uppercase;
    
}

.navbar__link:hover{
    color: var(--blue);
}

.btn:link,
.btn:visited{
    text-decoration: none;
    outline: none;
    border-radius: .4rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease-in;
}

.btn__sm{
    padding: 1.5rem 2rem;
}

.btn__md{
    padding: 1.5rem 4rem;
}

.btn__lg{
    padding: 1.5rem 8rem;
}

.navbar__btn{
    background-color: #fff000;
    cursor: pointer;
    padding: 1.5rem 2rem;
    color: var(--blue-dark);
    position: relative;
}

.navbar__btn:hover{
    color: var(--blue);
}

.info__bar{
    background-color: var(--blue);
    height: 6.2rem;
    color: var(--white);
    font-size: 1.8rem;
    line-height: 4.23rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.info__bar--icon{
    width: 2.5rem;
    cursor: pointer;
}

.info__bar--left{
    display: flex;
    align-items: center;
    margin-right: 16rem;
}

.info__bar--img{
    margin-right: 4rem;
    height: 6.2rem;
}

.info__bar--right{
    display: flex;
    align-items: center;
}

.info__bar--btn{
    text-transform: uppercase;
    color: var(--blue-dark);
    background-color: #fff000;
    font-size: 1.4rem;
    padding: 0 4rem ;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1rem;
}

.info__bar--btn:hover{
    background-color: #e9db06;
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
}

.hero__heading{
    text-align: center;
    line-height: 5.454rem;
    color: var(--blue-dark);
    width: 45%;
    font-size: 5.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.hero__text{
    font-family: "Saira", sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    color: var(--dark-grey);
    text-align: center;
    line-height: 1.75;
    max-width: 51rem;
    margin: 0 auto 4rem;
}

.hero__buttons{
    display: flex;
    margin-bottom: 8rem;
}

.hero__btn{
    border: .02rem solid  var(--green);
    font-weight: 700;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero__btn--1{
    background-color: var(--green);
    color: var(--white);
    margin-right: 2rem;
}

.hero__btn--1:hover{
    background-color: var(--green-dark);
    color: var(--white);
    margin-right: 2rem;
}

.hero__btn--2{
    background-color:transparent;
    color:  var(--black);
}

.hero__btn--2:hover{
    background-color:var(--green);
    color:  var(--white);
}

.hero__btn--icon{
    margin-right: 1rem;
    width: 1rem;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in;
}

.hero__btn:hover .hero__btn--icon{
    left: 12%;
}

.hero__btn:hover .hero__btn--icon path{
    fill: var(--white);
}

#features{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: -20rem;
    background-color: var(--white);
    z-index: -2;
}

.img__slider{
    /* box-shadow: var(--box-shadow); */
    margin-bottom: 4rem;
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.slider__images{
    position: relative;
    box-shadow: var(--box-shadow);
    transition: all .3s ease-in;
}


.dots__list{
    display: flex;
    list-style: none;
   
}

.dots__items:not(:last-child){
    margin-right: 1rem;
}

.dots{
    border-radius: 50%;
    width: 2rem;
    opacity: 40%;
    height: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    transform: translateX(0);
    transition: all .3s ease-in;
}

.dots__active{
    background-color: var(--white);
    opacity: 100%;
}

#training{
    background-image: url('./images/bg-course.png');
    background-color: var(--white);
    height: 52rem;
    padding-top: 28rem;
    /* clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 94%, 80% 98%, 50% 100%, 20% 98%, 0 93%, 0% 35%, 0 0);
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 94%, 80% 98%, 50% 100%, 20% 98%, 0 93%, 0% 35%, 0 0); */
    margin-bottom: 30rem;
    z-index: -2;

}

.training__heading{
    color: #fff;
    font-weight: 700;
    font-size: 4.2rem;
    letter-spacing: .75px;
    text-align: center;
    line-height: 4.8rem;
    margin: 0 auto 2rem;
    max-width: 70rem;
    text-transform: uppercase
}

.training__text{
    font-size: 24px;
    color: #f7f7fa;
    text-align: center;
    line-height: 4.2rem;
    max-width: 84rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.courses{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.courses__row{
    display: flex;
    justify-content: center;
}

.courses__row:not(:last-child){
    margin-bottom: 3rem;   
}

.courses__card{
    background-color: var(--white);
    display: flex;
    flex: 0 0 15%;
    padding: 1rem 2.5rem;
    color: var(--purple);
    text-decoration: none;
    box-shadow: var(--box-shadow);
}

.courses__card:not(:last-child){
    margin-right: 3rem
}

.courses__card--details{
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.courses__card--title{
    font-weight: 700;
    font-size: 2.1rem;
    color: var(--blue);
    line-height: 2.4rem;
    margin-bottom: .8rem;
    text-transform: uppercase;
}

.courses__card--text{
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-bottom: 0;
}

.courses__card--text:hover{
    color: var(--purple);

}

.courses__card--number{
    opacity: .2;
    font-weight: 900;
    font-size: 60px;
    color: #8a94a6;
    letter-spacing: 1.61px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 1.2;
    transition: all .3s ease-in;
    
}

.courses__card:hover .courses__card--number{
    color: var(--blue);
    opacity: 1;
}

.courses__btn{
    border: .2rem solid  var(--purple);
    font-weight: 800;
    align-self: center;
    color: var(--purple);
    margin: 4rem 0;
}

.courses__btn:hover{
    background-color: var(--purple);
    color: var(--white);
}

#testimonials{
    display: flex;
    background-color: var(--white);
    z-index: -2;
}

.testimonials__details{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials__title{
    color: var(--purple);
    font-weight: 500;
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
}

.testimonials__message{
    font-weight: 700;
    font-size: 3.2rem;
    color: var(--blue-dark);
    letter-spacing: .018rem;
    line-height: 4.6rem;
    max-width: 68.7rem;
    margin: 0 auto 2rem;
}

.testimonials__btn{
    background-color: var(--blue);
    color: var(--white);
    text-transform: uppercase;
    border-radius: 3.5rem;
    border: none;
    font-size: 2rem;
    font-weight: 900;
    padding: 1.5rem 4rem 1.5rem 1.5rem;
    cursor: pointer;
    outline: none;
    display: flex;
    margin-bottom: 2rem;
}

.testimonials__btn--icon__container{
    border-radius: 50%;
    border: .2rem solid  var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.15rem;
    margin-right: 1rem;
    transition: all .3s ease-in;
}

.testimonials__btn--icon{
    font-size: 4rem;
    transition: all .3s ease-in;
}

.testimonials__btn:hover{
    background-color: var(--blue-dark-1);
}

.testimonials__btn:hover .testimonials__btn--icon__container{
    background-color: var(--white);
}

.testimonials__btn:hover .testimonials__btn--icon path{
    fill: var(--blue-dark-1);
}

.testimonial__text{
    align-self: center;
}

.testimonial__author{
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--blue-dark);
    margin-bottom: .2rem
}

.testimonial__job{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--blue);
}

.separator{
    height: 7.6rem;
    background-color: var(--blue-dark);
    margin-bottom: 30rem;
}

#sales{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
    background-color: var(--white);
    z-index: -2;
}

.sales__shapemix{
    position: absolute;
    top: -20rem;
    right: 0;
}

.sales__details{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.sales__title{
    font-weight: 700;
    font-size: 3.6rem;
    color: var(--blue-dark);
    letter-spacing: .64px;
    line-height: 4.8rem;
    margin-bottom: 1.8rem;
    text-transform: uppercase
}

.sub__text{
    font-size: 2.4rem;
    width: 55rem;
}

.sub__text--full{
    width: 85rem;
    text-align: center;
}

.sales__icon{
    align-self: center;
    cursor: pointer;
}

.sales__icon:hover .sales__icon g path{
    stroke: var(--blue);
}

.what-members-get:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 49.2rem 0 49.2rem 50.7rem;
    border-color: transparent transparent transparent #fbbc05;
    position: absolute;
    top: -2.8rem;
    left: 0;
    z-index: -1;
}

.sales__compare{
    display: flex;
    /* margin-left: -25rem; */
}

.sales__left{
    margin-right: 30rem;
    align-self: center;
    text-align: left;
    
}

.sales__image{
    box-shadow: var(--box-shadow);
    height: 40rem;
}

.sales__image--lg{
    box-shadow: var(--box-shadow);
}

.sales__right{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-self: center;
    margin-bottom: 8rem;
    align-self: center;
    text-align: left;
}

.sales__user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sales__user--image{
    width: 6.8rem;
    height: 6.8rem;
    border-radius: 50%;
    margin-right: 2rem;
}

.sales__user--name{
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--blue-dark);
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.green-bg:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 445px 445px 445px 0;
    /* border-color: transparent #ea4335 transparent transparent; */
    border-color: transparent var(--green-dark-2) transparent transparent;
    position: absolute;
    top: 98.5rem;
    right: 0;
    margin: auto 0;
    z-index: -1;
}

.red-bg:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 49.2rem 0 49.2rem 50.7rem;
    border-color: transparent transparent transparent #E32165;
    position: absolute;
    top: 204.4rem;
    left: 0;
    z-index: -1;
}

.yellow-bg:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 44.5rem 44.5rem 44.5rem 0;
    /* border-color: transparent #ea4335 transparent transparent; */
    border-color: transparent #fbbc05 transparent transparent;
    position: absolute;
    top: 314.5rem;
    right: 0;
    margin: auto 0;
    z-index: -1;
}

#featured-instructions{
    background-image: url('./images/bg-course.png');
    height: 50rem;
}


.instructions__heading{
    color: #fff;
    font-weight: 700;
    font-size: 4.2rem;
    letter-spacing: .75px;
    text-align: center;
    line-height: 4.8rem;
    margin: 0 auto 2rem;
    max-width: 70rem;
    text-transform: uppercase;
    padding-top: 6rem;
    margin-bottom: 4rem;
}

.instructions__heading--secondary{
    font-weight: 700;
    font-size: 3.2rem;
    margin-bottom: 2.0rem;
    text-transform: uppercase;
    color: var(--blue-dark);
}

.content{
    display: flex;
    justify-content: center;
}

.instruction__card{
    background-color: var(--white);
    padding: 2rem 4rem;
    box-shadow: var(--box-shadow);
    flex: 0 0 20%;
    margin-top: 2rem;
    z-index: 1;

}

.instruction__item{
    font-size: 2.2rem;
    color: #8a94a6;
    line-height: 2.6rem;
    list-style: none;
}

.instruction__item:not(:last-child){
    margin-bottom: 2rem;
}

.instruction__image{
    align-self: flex-start;
}

.instruction__right{
    margin-left: -4rem;
}

.videos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.videos > *{
    flex: 0 0 25%;
}

.videos > *:not(:last-child){
    margin-right: 3rem;
}

.video__item{
    width: 45rem;
    
}

.video__load--btn{
    border: .3rem solid #2765D1;
    padding: 1.0rem 4.0rem;
    color: #2765D1;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: white;
    text-decoration: none;
    margin-top: 3rem;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    border: .3rem solid  var(--blue-dark);
    margin-bottom: 8rem;
}

.heading__main{
    font-weight: 700;
    font-size: 3.6rem;
    color: var(--blue-dark);
    letter-spacing: .64px;
    line-height: 4.8rem;
    margin-bottom: 1.8rem;
    text-transform: uppercase
}

.centered-content{
    align-self: center;
    text-align: center;
}

#faq{
    background-color: var(--white);
    margin-top: 80rem;
    margin-bottom: 8rem;
}

#student__testimonial{
    background-color: var(--white);
}

#people__cta{
    background-color: var(--white);
}

#trial{
    background-color: var(--blue-dark);
    margin-top: -6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

h3.heading__trial{
    color: var(--white);
}

.trial__text{
    font-size: 1.6rem;
    color: var(--white);
    line-height: 2.1rem;
    margin-bottom: 2rem
}

.trial__btn{
    background-color: var(--blue);
    color: var(--white);
    width: 25%;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
}

#footer{
    background-color: var(--white);
    padding: 6rem;
}

.footer__row{
    width: 80%;
    display: flex;
    justify-content: center;
}

.footer__sitemap{
    list-style: none;
}

.people__cta--btn{
    background-color: var(--green);
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
}

.footer__links {
    font-weight: 700;
    font-size: 1.8rem;
    color: #8a94a6;
    letter-spacing: 0;
    line-height: 2.8rem;
    text-transform: uppercase;
}

.footer__sitemap h5{
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--blue-dark);
    line-height: 2.8rem;
    margin-bottom: 1.7rem;
    text-transform: uppercase;
}

.footer__text{
    font-size: 24px;
    color: var(--purple);
    max-width: 42.5rem;
    font-weight: 400;
    margin-bottom: 0;
}

.footer__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__signin--btn{
    color: var(--blue);
    background-color: transparent;
    border: none;
    outline: none;
    display: block;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-transform: uppercase;
}

.footer__signup--btn{
    background-color: var(--blue);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    color: var(--white);
    border: none;
    width: 25rem;
}

.footer__signin--btn:hover{
    color: var(--blue-dark);
}

#bottom_bar{
    padding: 2rem 25rem;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
}

#bottom_bar p{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
}

.bottom__bar--left{
    margin-left: 20rem;
    flex: 1;
}


.bottom__bar--icons{
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
}

.bottom__bar--icons:not(:last-child){
    margin-right: 1rem;
}

.bottom__bar--right{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 1800px){
    .instruction__item{
        font-size: 1.8rem;
    }
}


@media only screen and (max-width: 1500px){
   

    .sales__left{
        margin-right: 20rem;
    }
}

@media only screen and (max-width: 1400px){
    .row{
        flex-wrap: wrap;
    }

    html {
        font-size: 57.2%;
        
    }

}


@media only screen and (max-width: 1270px){

    .videos{
        flex-direction: column;
    }

    iframe.video__item{
        margin-right: 0;
        margin-bottom: 2rem;
        
    }

    .navbar__dropdown--footer{
        display: none;
    }

    .collapse{
        display: none;
    }

    .menu__toggle{
        display: flex;
    }

    .navbar__drop{
        flex-direction: column;
        align-items: baseline;
    }

    .navbar__dropdown--title{
        display: none;
    }

    .dropdown{
        position: relative;
        top: 0;
        left: 0;
    }

    .navbar__dropdown--container{
        background-color: transparent;
        flex-direction: column;
    }

    .sales__image--lg{
        width: 100rem;
    }

    #faq{
        margin-top: 100rem;
    }

    .row{
        flex-wrap: wrap;
    }

    .navbar__logo--lg{
        display: block;
    }

    .navbar{
        justify-content: center;
    }

    body{
        overflow-x: hidden;
    }

    .navbar__logo{
        display: none;
    }
    .sales__compare{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sales__left{
        margin-right: 0;
        margin-bottom: 4rem;
    }

    .sales__shapemix{
        width: 12rem;
    }

    .collapse{
        position: absolute;
        background-color: #F1F1F1;
        top: 100%;
        left: 0%;
        width: 100%;
        padding: 0;
        flex-direction: column;
    }

    .navbar__btn{
        width: 100%;
        
    }

    .navbar__item{
        padding: 2rem 1rem;
    }

    .what-members-get:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 39.2rem 0 39.2rem 40.7rem;
        border-color: transparent transparent transparent #fbbc05;
        position: absolute;
        top: -2.8rem;
        left: 0;
        z-index: -1;
    }

    .yellow-bg:before{
        border-width: 34.5rem 34.5rem 34.5rem 0;
    }
    
    .red-bg:before{
        border-width: 39.2rem 0 39.2rem 40.7rem;
    }

    .green-bg:before{
        border-width: 34.5rem 34.5rem 34.5rem 0;
        margin-right: 0;
    }
    
    html {
        font-size: 52.7%;
        
    }

    #bottom_bar p{
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1000px){

    .sales__left{
        margin-right: 20rem;
    }

    .navbar__logo--lg{
        width: 60rem;
    }

    .hero__heading{
        font-size: 4rem;
        line-height: 4rem;
    }

    #faq{
        margin-top: 190rem;
    }

    .courses__row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #training{
        margin-bottom: 100rem;
    }

    .courses__card{
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 4rem;
        width: 70%;
    }

    .slider__images{
        width: 80rem;
    }

    .row-full{
        flex-direction: column;
    }

    .centered-content{
        
        margin: 0;
    }

    .centered-content:not(:last-child){
        
        margin-bottom: 8rem;
    }

    .cta-people-left{
        display: none;
    }

    
    .cta-people-right{
        display: none;
    }

    .instructions .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .instruction__card{
        width: 40rem;
    }

    .instruction__card>:not(:last-child){
        width: 40rem;
    }

    .instruction__right{
        margin-left: 0;
    }

    .instruction__image{
        align-self: center;
    }

    html{
        font-size: 48.9%;
    }

    .sales__image--lg{
        width: 80rem;
    }

    .people__cta--btn{
        margin-bottom: 4rem;
    }

    .footer__row{
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
    }

    div.footer__logo {
        margin-right: 0;
        margin-bottom: 6rem;
    }

    .footer__text{
        max-width: 65.5rem;
    }

    .footer__sitemap{
        padding-left: 0;
        margin-right: 0;
        margin-bottom: 6rem;
    }

    .footer__buttons{
        width: 100%;
    }

    .footer__signup--btn{
        width: 100%;
    }

    #bottom_bar{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 2rem 15rem;
    }

    .bottom__bar--left{
        margin: 0;
    }

    .bottom__bar--right{
        margin: 0;
        margin-bottom: 4rem;
    }

    
}

@media only screen and (max-width: 870px){

    .people__cta--image{
        width: 70rem;
    }

    .instruction__image {
        width: 50rem;
    }

    #training{
        margin-bottom: 120rem;
    }

    .slider__images{
        width: 65rem;
    }

    .sales__image--lg{
        width: 50rem;
    }

    .sales__image{
        width: 50rem;
    }
    
    .green-bg:before{
        border-width: 24.5rem 24.5rem 24.5rem 0;
        margin-right: 0;
    }

    .red-bg:before{
        border-width: 29.2rem 0 29.2rem 30.7rem;
    }

    .yellow-bg:before{
        border-width: 24.5rem 24.5rem 24.5rem 0;
    }

    .sales__shapemix{
        width: 8rem;
    }
    
    #faq{
        margin-top: 200rem;
    }

    #testimonials{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
    }

    .footer__row>*{
        margin-bottom: 4rem;
    }

    .container-full{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__text{width: 100%;}

    .bottom__bar--left{
        text-align: center;
        width: 100%;
        margin-bottom: 4rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .sub__text--full{
        width: 40rem;
    }

    .testimonial__image{
        width: 40rem;
    }

    .navbar__logo--lg{
        width: 45rem;
    }
}

@media only screen and (max-width: 550px){
    

    .testimonials__message{
        font-size: 2.4rem;
        line-height: 2.4rem;
        max-width: 50rem;
    }

    html{
        font-size: 35%;
    }

    .testimonial__image{
        width: 40rem;
    }

    .people__cta--image{
        width: 50rem;
    }

    .menu__image {
        width: 3rem;
    }
}

@media only screen and (max-width: 400px){
    .navbar__logo--lg{
        width: 30rem;
    }

    html{
        font-size: 32.7%;
    }

    

    .footer__text{font-size: 2rem;}

    .testimonial__image{
        width: 30rem;
    }
    
    .navbar__dropdown--icons{
        width: 1rem;
        height: 1rem;
    }
    

    .hero__heading{
        font-size: 2.8rem;
        line-height: 2.8rem;
    }

    .hero__buttons{
        flex-direction: column;
    }

    .hero__btn--1{
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 350px){

    html{
        font-size: 25%;
    }

    
}

